Checks: >
  -*,
  bugprone-assert-side-effect,
  bugprone-bad-signal-to-kill-thread,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-fold-init-type,
  bugprone-inaccurate-erase,
  bugprone-incorrect-roundings,
  bugprone-infinite-loop,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-*,
  bugprone-move-forwarding-reference,
  bugprone-multiple-statement-macro,
  bugprone-no-escape,
  bugprone-not-null-terminated-result,
  bugprone-posix-return,
  bugprone-signal-handler,
  bugprone-string-*,
  bugprone-suspicious-*,
  bugprone-swapped-arguments,
  bugprone-terminating-continue,
  bugprone-throw-keyword-missing,
  bugprone-too-small-loop-variable,
  bugprone-undefined-memory-manipulation,
  bugprone-undelegated-constructor,
  bugprone-unique-ptr-array-mismatch,
  bugprone-unused-return-value,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  portability-std-allocator-const
WarningsAsErrors: '*'
HeaderFilterRegex: '.*(apps|examples|filters|io|kernels|pdal|plugins|test|tools)/.*'
ExcludeHeaderFilterRegex: '.*(vendor/|filters/private/csf/|filters/private/miniball/|filters/private/delaunator\.|plugins/e57/libE57Format/|plugins/nitf/io/nitflib\.).*'
SystemHeaders: false
